 <%= form_for(@gate) do |f| %>

     
      <% if @gate.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@gate.errors.count, "error") %> esta llave no puede ser guardada:
          </h2>
          <ul>
            <% @gate.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
     
      <div class="form-group">
        <%=f.label :codigo %>
        <%=f.text_field :codigo, :class => "form-control", placeholder: 'Ej. 44'%>
      </div>
     
     
     <div class="form-group">
        <%=f.label :ubicacion %>
        <%=f.text_field :ubicacion, :class => "form-control", placeholder: 'Locación'%>
      </div>

     <div class="form-group">
        <%=f.label :descripcion %>
        <%=f.text_field :descripcion, :class => "form-control", placeholder: 'Observaciones'%>
      </div>
     
     <h3>Área</h3>

     <div class="checkbox">
     
          <label>
            <%= check_box_tag "laboratorio", "yes" %>
            Laboratorio
          </label>


            <label>
                <%= check_box_tag "Oficina", "yes" %>
                Oficina
            </label>


            <label>
                <%= check_box_tag "aula", "yes" %>
                Aula
            </label>


            <label>
                <%= check_box_tag "otro", "yes" %>
                Otro
            </label>
      </div>

      <h2>Agregar llave:</h2>
      
      <div class="form-group"> 
        <%= link_to 'Volver', gates_path, class: 'btn btn-default' %>
          <%=f.submit 'Guardar', :class=> "btn btn-success"%>
      </div>


      
    <% end %>