
<p>
  <strong>Codigo:</strong>
  <%= @key.codigo %>
</p>
 
<p>
  <strong>Numero_de_copia:</strong>
  <%= @key.numero_de_copia %>
</p>


<p>
  <strong>Codigo:</strong>
  <%= @key.codigo %>
</p>
 
<p>
  <strong>Nuemro_de_copia:</strong>
  <%= @key.numero_de_copia %>
</p>
 
<%= link_to 'Editar', edit_key_path(@key) %> |
<%= link_to 'Volver', key_path %>
